/* Color Theme Swatches form Adobe color */
$dark-red-hex: #A60A17;
$red-hex: #D90D32;
$gray-hex: #8b8b8b;
$green-hex: #25504c;
$dark-green-hex: rgb(1, 51, 46);

// Colors
.success {
  color: $dark-green-hex;
}

.danger {
  color: $red-hex;
}
