/* Color Theme Swatches form Adobe color */
$dark-red-hex: rgb(195, 10, 25);
$red-hex: #D90D32;
$gray-hex: #686868;
$green-hex: #25504c;
$dark-green-hex: rgb(11, 116, 105);
$orange-hex: rgb(230, 112, 2);

// Colors
.success {
  color: $dark-green-hex;
}

.danger {
  color: $red-hex;
}
