$font-family: 'Noto Sans',
sans-serif;

@import './colors';
@import './d3-chart';
@import './pulse';
@import './legend';

body {
  margin: 0;
  background-color: $green-hex;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;

  h1 {
    color: white;
    font-weight: 400;
    text-align: center;
    margin: 35px;
  }

  >div>a {
    float: right;
    color: white;
    font-size: 17px;
    margin: 12px 5px;
    font-style: italic;
    text-decoration: none;
  }
}

.card {
  position: relative;
  margin: 15px auto;
  padding: 15px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;

  h2 {
    display: inline-block;
    margin: 0 20px;
    font-weight: 100;
    font-size: 25px;
    color: $gray-hex;
  }

  span.error {
    font-size: 12px;
    font-weight: bolder;
  }

  &:hover .timestamp {
    opacity: 1;

  }

  .chart-container {
    height: 170px;
    width: 100%;
    overflow: hidden;

    &.faded {
      filter: grayscale(30%);
      opacity: 0.3;
      cursor: no-drop;
    }
  }
}

// Text
span {
  display: inline-block;
  margin: 10px;
}

.status {
  float: right;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.timestamp {
  float: right;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  opacity: 0;
}

.select-item{
  padding:0.5px;
  margin: 0px;
  span{
      margin: 1px;
      padding: 1px;
      color:black;
    }
  }


div.dropdown-heading{
  height:55px !important;
  border: 1px !important;
  border: 1px solid !important;
  border-color:rgb(217, 217, 217) rgb(204, 204, 204) rgb(179, 179, 179) !important;
}

.dropdown-heading-value{
  font-size: 16px;
  padding: 2px;
  margin: 0px;
}

.select-item{
  padding:3px 10px !important;
}

#link-container{
  border-radius: 15px;
  margin: auto;
  width: 350px;
  border: 1.5px solid white;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 30px;
}

#link-container:hover{
  background-color: #1f4441;
}

a{
  color:white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.dropdown-heading-dropdown-arrow{
  span{
    margin-bottom: 2px !important;
  }
}

h4.repotitle {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  color: white;
}

#upload-content{
  display: inline-block;
  width: 100%;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

div.upload-container{
  display: inline-block;
  color: white;
  width: 300;
  padding:0px;
  margin:0px;
}

div.upload{
  background-color:#4b7e7991;
  width:200px;
  padding:0px;
  margin:0px;
}

div.upload:hover{
  cursor: pointer;
  background-color:#66948f91;
}

a.sample-link{
  text-decoration: underline;
  font-style: italic;

}
a.sample-link:hover{
  color:rgba(211, 211, 211, 0.8);
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.threshold-form-container{
  color:white;
  align-items:center;
  display: flex;
  justify-content: center;
}

div.question-container{
  font-size:12px;
  width:8px;
  padding: 1px 3px 5px 3px;
  text-align: center;
  align-items: center;
  height: 8px;
  border: 1px solid;
  border-radius: 8px;
  color: white;

}
div.question-container:hover{
  background-color: rgba(255, 255, 255, 0.164);
  cursor: pointer;
  .tooltip-container{
    visibility: visible;
  }
  .tooltiptext{
    visibility: visible;
  }
}

a.question-tooltip{
  text-decoration: none;
}

div.tooltip-container{
  visibility:hidden;
  position: relative;
  display: inline-block;
  cursor: auto;
}

span.tooltiptext{
  font-size:16px;
  visibility: hidden;
  width: 350px;
  background-color: rgba(42, 42, 42, 0.5);
  color: white;
  text-align: justify;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  // z-index: 1;
}

div.system-selector-container{
  margin: 50px;
}


div.io-selector-container{
  margin-top: 50px;
  margin-bottom: 350px;
}
div.mod-spec-text{
  color:white;
  font-size: 18px;
  margin: 20px 5px 15px 5px;
}