$font-family: 'Noto Sans',
sans-serif;

@import './colors';
@import './d3-chart';
@import './pulse';
@import './legend';
@import './startpage';

body {
  margin: 0;
  background-color: $green-hex;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;

  h1 {
    color: white;
    font-weight: 400;
    text-align: center;
    margin: 35px;
  }

  >div>a {
    float: right;
    color: white;
    font-size: 17px;
    margin: 12px 5px;
    font-style: italic;
    text-decoration: none;
  }
}

.card {
  position: relative;
  margin: 15px auto;
  padding: 15px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;

  h2 {
    display: inline-block;
    margin: 0 20px;
    font-weight: 100;
    font-size: 25px;
    color: $gray-hex;
  }

  span.error {
    font-size: 12px;
    font-weight: bolder;
  }

  &:hover .timestamp {
    opacity: 1;

  }

  .chart-container {
    height: 170px;
    width: 100%;
    overflow: hidden;

    &.faded {
      filter: grayscale(30%);
      opacity: 0.3;
      cursor: no-drop;
    }
  }
}

// Text
span {
  display: inline-block;
  margin: 10px;
}

.status {
  float: right;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.timestamp {
  float: right;
  margin: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  opacity: 0;
}

.select-item{
  padding:0.5px;
  margin: 0px;
  span{
      margin: 1px;
      padding: 1px;
      color:black;
    }
  }


div.dropdown-heading{
  height:55px !important;
  border: 1px !important;
  border: 1px solid !important;
  border-color:rgb(217, 217, 217) rgb(204, 204, 204) rgb(179, 179, 179) !important;
}

.dropdown-heading-value{
  font-size: 16px;
  padding: 2px;
  margin: 0px;
}

.select-item{
  padding:3px 10px !important;
}

#link-container{
  border-radius: 15px;
  margin: auto;
  width: 350px;
  border: 1.5px solid white;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 30px;
}

#link-container:hover{
  background-color: #1f4441;
}

a{
  color:white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.dropdown-heading-dropdown-arrow{
  span{
    margin-bottom: 2px !important;
  }
}

h4.repotitle {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  color: white;
}